.faq {
  padding-top: em(96);
  padding-bottom: em(64);
  background: rgba(30, 37, 44, 1);
  border-radius: em(24);

  @include mobile {
    padding: em(32) 0;
  }

  &__body {}

  &__title {
    font-weight: 600;
    font-size: to-rem(36);

    @function em($one, $two: 36) {
      @return prc($one, $two, 1)+0em;
    }

    line-height: em(40);
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: em(48);

    @include mobile {
      margin-bottom: em(24);
    }
  }
}

.faq-spoilers {
  display: flex;
  flex-direction: column;
  gap: em(20);
  margin-bottom: em(64);

  @include mobile {
    gap: em(16);
  }

  &__item {
    display: flex;
    flex-direction: column;
    background: #3b4650;
    border-radius: em(12);
    @include transition();

    &_active {
      padding-bottom: em(20);

      .faq-spoilers {
        &__button {
          &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12C20 12.5542 19.5885 13 19.0769 13H4.92308C4.41346 13 4 12.5525 4 12.0004C4 11.45 4.41346 11 4.92308 11H19.0769C19.5885 11 20 11.45 20 12Z' fill='white'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  &__button {
    padding: em(20);
    padding-right: em(20+24+8);
    position: relative;
    text-align: left;

    span {
      font-size: em(18);

      @function em($one, $two: 18) {
        @return prc($one, $two, 1)+0em;
      }

      line-height: em(26);
      color: #ffffff;
    }

    &:after {
      content: "";
      position: absolute;
      right: em(20);
      top: 50%;
      transform: translateY(-50%);
      width: em(24);
      height: em(24);
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0769 12.9231C19.5885 12.9231 20 12.5115 20 12C20 11.4923 19.5885 11.0769 19.0769 11.0769H12.9231V4.92308C12.9231 4.41154 12.5115 4 12 4C11.4923 4 11.0769 4.41154 11.0769 4.92308V11.0769H4.92308C4.41346 11.0769 4 11.4923 4 12.0004C4 12.51 4.41346 12.9231 4.92308 12.9231H11.0769L11.0769 19.0769C11.0769 19.5865 11.4923 20 12.0004 20C12.51 20 12.9231 19.5865 12.9231 19.0769V12.9231H19.0769Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @include transition();
    }
  }

  &__content {
    font-size: em(14);

    @function em($one, $two: 14) {
      @return prc($one, $two, 1)+0em;
    }

    line-height: em(20);
    color: #ffffff;
    padding: 0 em(20);
  }
}

.question {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: em(16);
  align-items: center;
  padding: em(36);
  border: em(1) solid #3b4650;
  border-radius: em(16);

  @include mobile {
    padding: 0;
    border: none;
    border-radius: 0;
    text-align: center;
  }

  @include small-tablet {
    justify-content: center;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: em(24);
    flex-wrap: wrap;

    @include small-tablet {
      justify-content: center;
    }

    img {
      max-width: 100%;
      height: em(121);

      @include mobile {
        height: auto;
        max-height: em(121);
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: em(12);

    @include mobile {
      align-items: center;
    }

    span {
      &:first-child {
        font-weight: 600;
        font-size: em(28);

        @function em($one, $two: 28) {
          @return prc($one, $two, 1)+0em;
        }

        line-height: em(32);
        letter-spacing: -0.005em;
        color: #ffffff;

        @include mobile {
          font-size: 36px;
          max-width: 260px;
        }
      }

      &:last-child {
        font-size: em(16);

        @function em($one, $two: 16) {
          @return prc($one, $two, 1)+0em;
        }

        line-height: em(22);
        color: #e9f0f5;
        
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: em(20) em(56);
    gap: em(8);
    min-height: em(60);
    background: #005fa8;
    border-radius: em(999);
    @include transition();

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    @include mobile {
      width: 100%;
    }

    img {
      font-size: em(20);
      width: 1em;
      height: 1em;
      flex: 0 0 1em;
    }

    span {
      font-weight: 500;
      font-size: em(18);

      @function em($one, $two: 18) {
        @return prc($one, $two, 1)+0em;
      }

      line-height: em(20);
      color: #ffffff;
    }
  }
}