.hero {
  position: relative;
  font-family: "Google Sans";
  font-weight: 500;
  .swiper-slide {
    display: flex;
    align-items: center;
    min-height: em(680);

    @include mobile {
      align-items: flex-start;
      padding-top: em(160);
    }
  }
  span {
    font-weight: 500;
    font-size: em(12);
    @function em($one, $two: 12) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(18);
    letter-spacing: em(2);
    text-transform: uppercase;
    color: #a9b6c3;
    margin-bottom: em(12);
    position: relative;
    padding-left: em(20);
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: em(8);
      height: em(8);
      border-radius: 50%;
      background: rgba(169, 182, 195, 1);
    }
  }
  h2 {
    font-size: em(46);
    @function em($one, $two: 46) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(48);
    letter-spacing: -0.015em;
    color: #ffffff;
    margin-bottom: em(20);
  }
  p {
    font-size: em(18);
    @function em($one, $two: 18) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(26);

    color: #e9f0f5;
  }
  &__text-btn {
    padding: em(20) em(32);
    gap: em(8);
    font-size: em(18);
    @function em($one, $two: 18) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(20);
    color: #ffffff;
    background: #005fa8;
    border-radius: 999px;
    max-width: em(266);

    @include mobile {
      max-width: none;
    }
  }
  &__text-cont {
    display: flex;
    flex-direction: column;
    gap: em(4);
  }
  &__body {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: em(20);
    width: 100%;
  }
  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

.swiper {
  width: 100%;
}
