.map {
  padding-top: em(60);
  padding-bottom: em(120);
  &__body {
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: em(48);
  }
  &__title {
    font-weight: 600;
    font-size: em(36);
    @function em($one, $two: 36) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(40);
    letter-spacing: -0.01em;
    color: #ffffff;
  }
  &__buttons {
    display: flex;
    align-items: center;
    padding: em(4);
    background: #1e252c;
    border-radius: em(999);
    max-width: em(564);
    flex: 1 1 auto;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: em(12) em(20);
    gap: em(8);
    max-width: em(278);
    width: 100%;
    min-height: em(46);
    background: #e6f4ff;
    border-radius: em(999);
  }
}
.map-box {
  display: flex;
  justify-content: space-between;
  padding: em(40);
  gap: em(32);
  background: #0e1216;
  border: em(1) solid #3b4650;
  border-radius: em(16);
  @media (min-width: (to-rem(1280))) {
    margin: 0 em(-40);
  }
  &__info {
    padding: em(16) 0;
    display: flex;
    flex-direction: column;
    gap: em(64);
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: em(24);
    flex: 1 1 auto;
  }
  &__address {
    font-family: "Google Sans";
    font-size: em(18);
    @function em($one, $two: 18) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(26);
    color: #ffffff;
  }
  &__flex {
    display: flex;
    gap: em(28);
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: em(8);
  }
  &__link {
    font-family: "Google Sans";
    font-size: em(18);
    @function em($one, $two: 18) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(26);
    color: #5db7f3;
  }
  &__title {
    font-size: em(12);
    @function em($one, $two: 12) {
      @return prc($one, $two, 1) + 0em;
    }
    line-height: em(18);
    color: #6e7c89;
  }
  &__buttons {
    display: flex;
    gap: em(16);
    flex-wrap: wrap;
    max-width: em(450);
  }
  &__icon-button {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: em(12) em(16);
    gap: em(10);
    min-height: em(52);
    background: #1e252c;
    border-radius: em(1000);
    span {
      font-weight: 500;
      font-size: em(12);
      @function em($one, $two: 12) {
        @return prc($one, $two, 1) + 0em;
      }
      line-height: em(18);
      letter-spacing: em(2);
      text-transform: uppercase;
      color: #e6f4ff;
    }
    img {
      font-size: em(28);
      flex: 0 0 1em;
      height: 1em;
      width: 1em;
    }
  }
  &__canvas {
    width: 100%;
    max-width: em(564);
    aspect-ratio: 1/0.67;
    filter: invert(0.92) hue-rotate(180deg);
  }
}
