<div class="advantages">
  <div class="advantages__body container">
    <div class="advantages__hero">
      <h2>Почему выбирают нас</h2>
      <div class="advantages__grid">
        <div class="advantages__grid-item">
          <p>Работаем с 1992</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
        <div class="advantages__grid-item">
          <p>В реестре ЦБ</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
        <div class="advantages__grid-item">
          <p>Страхование</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
        <div class="advantages__grid-item advantages__grid-item_last">
          <p>Менеджер приезжает лично — ваши документы и авто в безопасности</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
        <div class="advantages__grid-item">
          <p>Ежедневно с 9 до 21</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
        <div class="advantages__grid-item">
          <p>15 минут оформление</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
        <div class="advantages__grid-item">
          <p>Минимальный процент</p>
          <div class="advantages__item">
            <img loading="lazy" src="img/icons/eagle.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
