<section class="articles">
  <div class="articles__body container">
    <div class="articles__top">
      <h2 class="articles__title">Полезные статьи</h2>
      <div class="articles__buttons">
        <button class="articles__button articles__button_prev">
          <img loading="lazy" src="img/icons/arrowleft.svg" alt="" />
        </button>
        <button class="articles__button articles__button_next">
          <img loading="lazy" src="img/icons/arrowright.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="swiper swiper-articles">
      <div class="swiper-wrapper">
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
        <a href="" class="swiper-slide articles-item">
          <span class="articles-item__image">
            <img loading="lazy" src="img/articles/picture.webp" alt="" />
          </span>
          <span class="articles-item__text">
            <span class="articles-item__title"
              >Как купить автомобиль в залоге?</span
            >
            <span class="articles-item__info"
              >Полное руководство для безопасной сделки</span
            >
          </span>
        </a>
      </div>
    </div>
    <a href="#" class="articles__button-down">
      <span>Перейти в блог</span>
      <img loading="lazy" src="img/icons/arrow-btn-blue.svg" alt="" />
    </a>
  </div>
</section>
