<div class="calc">
  <div class="calc__body container">
    <div class="calc__hero">
      <h2>Рассчитайте платеж</h2>
      <div class="calc__grid">
        <div class="calc__grid-item">
          <p>Сумма займа</p>
          <div class="calc__item">
            <button>
              <img loading="lazy" src="img/icons/minus.svg" alt="" />
            </button>
            <p>50 000 ₽</p>
            <button>
              <img loading="lazy" src="img/icons/plus.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="calc__grid-item">
          <p>Срок займа</p>
          <div class="calc__item">
            <button>
              <img loading="lazy" src="img/icons/minus.svg" alt="" />
            </button>
            <p>3 месяца</p>
            <button>
              <img loading="lazy" src="img/icons/plus.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="calc__grid-item">
          <p>Ежемесячный платеж</p>
          <div class="calc__item-summary">
            <p>9 500,21</p>
            <img loading="lazy" src="img/icons/ruble.svg" alt="" />
          </div>
        </div>
        <div class="calc__grid-item">
          <p>Номер телефона</p>

          <input class="calc__item-input" placeholder="+7" />
        </div>
        <div class="calc__grid-item">
          <p>Как к Вам обращаться?</p>

          <input class="calc__item-input" placeholder="Имя" />
        </div>
        <div class="calc__grid-item">
          <button>
            Оставить заявку
            <img loading="lazy" src="img/icons/arrowforbtn.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div class="calc__footer">
      <div class="calc__footer-item">
        <input type="radio" />
        <div>
          <p>Я даю согласие на обработку персональных данных.</p>
          <p>Подтверждаю ознакомлениеспользовательским соглашением</p>
        </div>
      </div>
      <div class="calc__footer-item">
        <input type="radio" />
        <div>
          <p>Я даю согласие на обработку персональных данных.</p>
          <p>Подтверждаю ознакомлениеспользовательским соглашением</p>
        </div>
      </div>
    </div>
  </div>
</div>
