<section class="client">
  <div class="client__body container">
    <div class="client__hero">
      <div class="client__hero-header">
        <h2>Сколько денег уже получили наши клиенты</h2>
        <div class="client__tabs" data-tabs>
          <button class="client__tab-btn client__tab-btn_prev" data-tab-btn="1">
            <img loading="lazy" src="img/icons/arrowleft.svg" alt="" />
          </button>
          <button class="client__tab-btn client__tab-btn_next" data-tab-btn="2">
            <img loading="lazy" src="img/icons/arrowright.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="swiper swiper-client">
        <div class="swiper-wrapper">
          <article class="client__grid-item swiper-slide">
            <img loading="lazy" src="img/reviewcamry.webp" alt="" />
            <div class="client__grid-head">
              <h2>Toyota Camry 2018</h2>
              <p>2,5 литра, АКПП, передний привод</p>
            </div>
            <div class="client__grid-footer">
              <p class="client__grid-label" >Сумма</p>
              <p class="client__grid-price">1 254 000 ₽</p>
              <p class="client__grid-sum">Платёж: <span>32 000</span> ₽</p>
            </div>
          </article>
          <article class="client__grid-item swiper-slide">
            <img loading="lazy" src="img/reviewcamry.webp" alt="" />
            <div class="client__grid-head">
              <h2>Toyota Camry 2018</h2>
              <p>2,5 литра, АКПП, передний привод</p>
            </div>
            <div class="client__grid-footer">
              <p class="client__grid-label">Сумма</p>
              <p class="client__grid-price">1 254 000 ₽</p>
              <p class="client__grid-sum">Платёж: <span>32 000</span> ₽</p>
            </div>
          </article>
          <article class="client__grid-item swiper-slide">
            <img loading="lazy" src="img/reviewcamry.webp" alt="" />
            <div class="client__grid-head">
              <h2>Toyota Camry 2018</h2>
              <p>2,5 литра, АКПП, передний привод</p>
            </div>
            <div class="client__grid-footer">
              <p class="client__grid-label">Сумма</p>
              <p class="client__grid-price">1 254 000 ₽</p>
              <p class="client__grid-sum">Платёж: <span>32 000</span> ₽</p>
            </div>
          </article>
          <article class="client__grid-item swiper-slide">
            <img loading="lazy" src="img/reviewcamry.webp" alt="" />
            <div class="client__grid-head">
              <h2>Toyota Camry 2018</h2>
              <p>2,5 литра, АКПП, передний привод</p>
            </div>
            <div class="client__grid-footer">
              <p class="client__grid-label">Сумма</p>
              <p class="client__grid-price">1 254 000 ₽</p>
              <p class="client__grid-sum">Платёж: <span>32 000</span> ₽</p>
            </div>
          </article>
          <article class="client__grid-item swiper-slide">
            <img loading="lazy" src="img/reviewcamry.webp" alt="" />
            <div class="client__grid-head">
              <h2>Toyota Camry 2018</h2>
              <p>2,5 литра, АКПП, передний привод</p>
            </div>
            <div class="client__grid-footer">
              <p class="client__grid-label">Сумма</p>
              <p class="client__grid-price">1 254 000 ₽</p>
              <p class="client__grid-sum">Платёж: <span>32 000</span> ₽</p>
            </div>
          </article>
        </div>
      </div>

  </div>
</section>
