<section class="faq">
  <div class="faq__body container">
    <h2 class="faq__title">Частые вопросы</h2>
    <div class="faq-spoilers">
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span
            >Есть ли возможность погасить займ досрочно и без процентов?</span
          >
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span>Могу ли я изменить условия действующего займа?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span
            >Есть ли возможность погасить займ досрочно и без процентов?</span
          >
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span>С чем связан рост популярности возвратного лизинга?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span>Появилась просрочка по кредиту. Можно ли что-то сделать?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span>При рефинансировании возможно увеличение суммы кредита?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span>Все ли кредиты можно рефинансировать?</span>
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
      <div class="faq-spoilers__item">
        <button class="faq-spoilers__button">
          <span
            >Как выглядит процесс лизинга — приобретение предмета лизинга и
            дальнейшая его аренда?</span
          >
        </button>
        <div class="faq-spoilers__content">
          Срочно понадобились деньги — оформление прошло быстро и без лишних
          сложностей. Регистрация простая и понятная, средства выдали
          оперативно. Если возникают вопросы, можно позвонить — специалисты
          вежливо проконсультируют и помогут разобраться. Погашение займа также
          удобно и прозрачно. В целом — понятный и комфортный сервис.
        </div>
      </div>
    </div>
    <div class="question">
      <div class="question__main">
        <img loading="lazy" src="img/faq/image.webp" alt="" />
        <div class="question__text">
          <span>Не нашли ответа на свой вопрос?</span
          ><span>Свяжитесь с нами и предоставим необходиму информацию</span>
        </div>
      </div>
      <a href="" class="question__button">
        <span>Задать вопрос</span>
        <img loading="lazy" src="img/icons/arrow-btn.svg" alt="" />
      </a>
    </div>
  </div>
</section>
