<footer class="footer">
  <div class="footer__body container">
    <div class="footer-main">
      <div class="footer-main__info">
        <a href="/" class="footer-main__logo">
          <img loading="lazy" src="img/icons/logo.svg" alt="" />
        </a>
        <div class="footer-main__map-item">
          <a href="#" class="yandex-review">
            <span class="yandex-review__top">
              <span class="yandex-review__rating">
                <img loading="lazy" src="img/footer/map.svg" alt="" />
                <span>4,9</span>
              </span>
              <span class="yandex-review__stars">
                <img loading="lazy" src="img/footer/star.svg" alt="" />
                <img loading="lazy" src="img/footer/star.svg" alt="" />
                <img loading="lazy" src="img/footer/star.svg" alt="" />
                <img loading="lazy" src="img/footer/star.svg" alt="" />
                <img loading="lazy" src="img/footer/star.svg" alt="" />
              </span>
            </span>
            <span class="yandex-review__desc"
              >Рейтинг организации в Яндекс</span
            >
          </a>
          <a href="#" class="footer-main__address">
            <span>Офис в Москве (ЮВАО)</span
            ><span>г. Москва, проспект Рязанский, д. 37, этаж 4, офис 14</span>
          </a>
        </div>
        <div class="footer-main__logos">
          <h3 class="footer-main__label">Наши партнеры</h3>
          <div class="footer-main__logos-items">
            <a href="#" class="footer-main__logo-item">
              <img loading="lazy" src="img/footer/cash-drive.svg" alt="" />
            </a>
            <a href="#" class="footer-main__logo-item">
              <img loading="lazy" src="img/footer/drive.svg" alt="" />
            </a>
            <a href="#" class="footer-main__logo-item">
              <img loading="lazy" src="img/footer/time.svg" alt="" />
            </a>
            <a href="#" class="footer-main__logo-item">
              <img loading="lazy" src="img/footer/car.svg" alt="" />
            </a>
            <a href="#" class="footer-main__logo-item">
              <img loading="lazy" src="img/footer/dobro.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="footer-main-box">
        <div class="footer-main-box__top">
          <div>
            <a href="tel:88003512295" class="footer-main-box__big-link"
              >8 (800) 351 22 95</a
            >
            <p class="footer-main-box__gray-txt">Ежедневно с 09:00 до 21:00</p>
          </div>
          <a href="mailto:info@mail.ru" class="footer-main-box__big-link"
            >info@mail.ru</a
          >
        </div>

        <div class="footer-main-box__buttons">
          <a href="#" class="footer-main-box__icon-button">
            <span>MAX</span>
            <img loading="lazy" src="img/footer/max.svg" alt="" />
          </a>
          <a href="#" class="footer-main-box__icon-button">
            <span>TG</span>
            <img loading="lazy" src="img/footer/tg.svg" alt="" />
          </a>
          <a href="#" class="footer-main-box__button">
            <span>Оставить заявку</span>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <div class="footer-nav__item">
        <h3>Займы</h3>
        <ul>
          <li><a href="#">Займ под залог авто</a></li>
          <li><a href="#">Автоломбард</a></li>
          <li><a href="#">Срочный выкуп авто</a></li>
          <li><a href="#">Лизинг для физических лиц</a></li>
          <li><a href="#">Под ПТС легкового авто</a></li>
          <li><a href="#">Под ПТС мотоцикла</a></li>
          <li><a href="#">Под ПТС грузового авто</a></li>
          <li><a href="#">Под ПТС спецтехники</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <h3>Услуги</h3>
        <ul>
          <li><a href="#">Автокредитование</a></li>
          <li><a href="#">Калькулятор</a></li>
          <li><a href="#">Аутсорсинг бухгалтерии</a></li>
          <li><a href="#">Услуги колл-центра</a></li>
          <li><a href="#">Аудит системы продаж</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <h3>Обслуживание с выездом</h3>
        <ul>
          <li><a href="#">Выездное оформление займа</a></li>
          <li><a href="#">Выезд специалиста</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <h3>О нас</h3>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Вопросы и ответы</a></li>
          <li><a href="#">Документы</a></li>
          <li><a href="#">Реквизиты</a></li>
          <li><a href="#">Партнерам</a></li>
          <li><a href="#">Сотрудничество</a></li>
          <li><a href="#">Статьи о займах</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer-nav__item">
        <h3>Оплата</h3>
        <ul>
          <li><a href="#">Онлайн-оплата</a></li>
          <li><a href="#">Способы оплаты</a></li>
          <li><a href="#">Реквизиты для оплаты</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-policy">
      <p>Содействие в подборе финансовых услуг и организаций оказывает:</p>
      <p>ООО «Ваш Финансовый Партнер» ОГРН 1207700061051.</p>
      <ul>
        <li>
          Сервис, расположенный на доменном имени http://yourfinpartner.ru/,
          (далее Веб-Сайт) публикует предложение о предоставлении услуг по
          подбору займов и кредитов дистанционным способом.
        </li>
        <li>
          Веб-Сайт не оказывает финансовых услуг и не отвечает за качество услуг
          оказываемых компаниями - партнерами. Сайт не несет ответственности за
          убытки, которые могут возникнуть в результате отношений Потребителей
          услуг Сайта и банков/организаций-партнёров.
        </li>
        <li>
          ООО «Ваш Финансовый Партнер» (ОГРН 1207700061051) не оказывает
          финансовых услуг и не отвечает за качество услуг оказываемых
          компаниями - партнерами. Сайт не несет ответственности за убытки,
          которые могут возникнуть в результате отношений Потребителей услуг
          Сайта и банков/организаций-партнёров.
        </li>
        <li>
          Услуги по выдаче займов и кредитов оказывают организации/партнеры,
          имеющие на это соответствующие лицензии и разрешения.
        </li>
        <li>
          Веб-Сайт размещает информацию по финансовой тематике без
          предварительной проверки в том объеме, в котором её предоставили
          компании-партнёры, а также в тех пределах, в которых её можно найти в
          открытых источниках.
        </li>
      </ul>
      <p>
        Услуги предоставляемые ООО МФК «Кармани»<br />ОГРН 1107746915781, ИНН
        7730634468 119019:<br />Рефинансирование под залог ПТС.
      </p>
      <p>
        Общество с ограниченной ответственностью Микрофинансовая компания
        «КЭШДРАЙВ» состоит в государственном реестре микрофинансовых организаций
        за номером 18/034/75/009039 от 24.12.2018 г. КПП 540701001, ИНН
        7459006240, ОГРН 1187456022049
      </p>
      <p>
        ООО «МКК «Сибиряк» (Драйвзайм) состоит в государственном реестре
        микрофинансовых организаций за номером № 17 035 50 00823 от
        27.04.2017.ОГРН 1175476030993, ИНН 5407962868, КПП 540601001ООО МКК
        «ДЗБР». Регистрационный номер записи в государственном реестре МФО
        651503045006630 от 26 июня 2015г.ИНН 7725850061,ОГРН 5147746405637.
      </p>
      <p>
        Акционерное общество микрофинансовая компания «Саммит» / АО МФК
        «Саммит»: Регистрационный номер записи в государственном реестре МФО
        2110177000192 от 08 июля 2011г., ИНН 9714073258, ОГРН 1257700155360.
      </p>
      <p>
        Информация на сайте не является публичной офертой и носит
        информационно-справочный характер.
      </p>
    </div>
  </div>
</footer>
