<header class="header">
  <div class="header__body container">
    <a href="/" class="header__logo"><img src="./img/icons/logo.svg" /></a>
    <div class="header__navigation">
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Займы</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Микрозаймы</a>
          <a href="#" class="header__dropdown-link">Потребительские займы</a>
          <a href="#" class="header__dropdown-link">Займы под залог</a>
        </div>
      </div>
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Финансовые услуги</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Страхование</a>
          <a href="#" class="header__dropdown-link">Инвестиции</a>
        </div>
      </div>
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Обслуживание с выездом</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Выездной менеджер</a>
          <a href="#" class="header__dropdown-link">Доставка документов</a>
        </div>
      </div>
      <a href="#" class="header__item">Оплата онлайн</a>
    </div>
    <div class="header__down">
      <button class="header__down-button">
        <img src="./img/icons/ask.svg" alt="" />
      </button>
      <button class="header__down-button burger" data-burger>
        <img src="./img/icons/menu.svg" alt="" />
      </button>
      <button class="header__down-button header__close-btn" data-menu-close>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <div class="mobile-menu__overlay" data-menu-overlay></div>
  <div class="mobile-menu__body">
    <div class="mobile-menu__item mobile-menu__item_nav">
      <div class="mobile-menu__tabs-wrapper">
        <div class="mobile-menu__tabs" data-tabs>
          <button class="mobile-menu__tab-btn is-active" data-tab-btn="0">
            Займы
          </button>
          <button class="mobile-menu__tab-btn" data-tab-btn="1">
            Финансовые услуги
          </button>
          <button class="mobile-menu__tab-btn" data-tab-btn="2">
            Обслуживание с выездом
          </button>
          <button class="mobile-menu__tab-btn" data-tab-btn="3">
            Оплата онлайн
          </button>
        </div>
      </div>
      <div class="mobile-menu__panels">
        <div class="mobile-menu__panel is-active" data-tab-panel="0">
          <div class="mobile-menu__panel-item">
            <p>Популярные займы</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
          <div class="mobile-menu__panel-item">
            <p>По типу транспорта</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mobile-menu__panel" data-tab-panel="1">
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mobile-menu__panel" data-tab-panel="2">
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mobile-menu__panel" data-tab-panel="3">
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
          <div class="mobile-menu__panel-item">
            <p>По условиям</p>
            <div class="mobile-menu__list">
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Микрозаймы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Потребительские займы</span>
              </a>
              <a href="#" class="mobile-menu__link">
                <img loading="lazy" src="img/icons/eagle.svg" alt="" />
                <span>Займы под залог</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu__item mobile-menu-sidebar">
      <button class="mobile-menu-sidebar__button" type="button">
        <span> Вход или регистрация </span>
        <img loading="lazy" src="img/icons/user.svg" alt="" />
      </button>
      <div class="mobile-menu-sidebar__grid">
        <a href="#" class="mobile-menu-sidebar__item">
          <span>Рассчитать займ</span>
          <img loading="lazy" src="img/calc.webp" alt="" />
        </a>
        <a href="#" class="mobile-menu-sidebar__item">
          <span>Получить деньги</span>
          <img loading="lazy" src="img/money.webp" alt="" />
        </a>
      </div>
    </div>
    <div class="mobile-menu__item mobile-menu-footer">
      <div class="mobile-menu-footer__item">
        <h4 class="mobile-menu-footer__title">Офис в Москве (ЮВАО)</h4>
        <a href="" class="mobile-menu-footer__address"
          >г. Москва, проспект Рязанский, дом 10, строение 18, этаж 10, кабинет
          6</a
        >
        <div class="mobile-menu-footer__flex">
          <a href="tel:88003512295" class="mobile-menu-footer__link"
            >8 (800) 351 22 95</a
          >
          <a href="mailto:info@mail.ru" class="mobile-menu-footer__link"
            >info@mail.ru</a
          >
        </div>
      </div>

      <div class="mobile-menu-footer__item">
        <h4 class="mobile-menu-footer__title">Офис в Химках</h4>
        <a href="" class="mobile-menu-footer__address"
          >г. Химки, ул. Панфилова, д. 37, этаж 4, офис 14</a
        >
        <div class="mobile-menu-footer__flex">
          <a href="tel:88003512295" class="mobile-menu-footer__link"
            >8 (800) 351 22 95</a
          >
          <a href="mailto:info@mail.ru" class="mobile-menu-footer__link"
            >info@mail.ru</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
