<header class="header">
  <div class="header__body container">
    <a href="/" class="header__logo"><img src="./img/icons/logo.svg" /></a>
    <div class="header__navigation">
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Займы</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Микрозаймы</a>
          <a href="#" class="header__dropdown-link">Потребительские займы</a>
          <a href="#" class="header__dropdown-link">Займы под залог</a>
        </div>
      </div>
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Финансовые услуги</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Страхование</a>
          <a href="#" class="header__dropdown-link">Инвестиции</a>
        </div>
      </div>
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Обслуживание с выездом</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Выездной менеджер</a>
          <a href="#" class="header__dropdown-link">Доставка документов</a>
        </div>
      </div>
      <a href="#" class="header__item">Оплата онлайн</a>
    </div>
    <div class="header__down">
      <button class="header__down-button">
        <img src="./img/icons/ask.svg" alt="" />
      </button>
      <button class="header__down-button burger">
        <img src="./img/icons/menu.svg" alt="" />
      </button>
    </div>
  </div>
</header>
