<header class="header">
  <div class="header__body container">
    <a href="/" class="header__logo"><img src="./img/icons/logo.svg" /></a>
    <div class="header__navigation">
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Займы</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Микрозаймы</a>
          <a href="#" class="header__dropdown-link">Потребительские займы</a>
          <a href="#" class="header__dropdown-link">Займы под залог</a>
        </div>
      </div>
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Финансовые услуги</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Страхование</a>
          <a href="#" class="header__dropdown-link">Инвестиции</a>
        </div>
      </div>
      <div class="header__item-parent">
        <button type="button" class="header__item" data-dropdown-trigger>
          <span>Обслуживание с выездом</span>
          <img src="./img/icons/headerArrow.svg" />
        </button>
        <div class="header__item-dropdown" data-dropdown>
          <a href="#" class="header__dropdown-link">Выездной менеджер</a>
          <a href="#" class="header__dropdown-link">Доставка документов</a>
        </div>
      </div>
      <a href="#" class="header__item">Оплата онлайн</a>
    </div>
    <div class="header__down">
      <button class="header__down-button">
        <img src="./img/icons/ask.svg" alt="" />
      </button>
      <button class="header__down-button burger" data-burger>
        <img src="./img/icons/menu.svg" alt="" />
      </button>
    </div>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <div class="mobile-menu__overlay" data-menu-overlay></div>
  <div class="mobile-menu__body">
    <button class="mobile-menu__close" data-menu-close>
      <span></span>
      <span></span>
    </button>
    <div class="mobile-menu__tabs" data-tabs>
      <button class="mobile-menu__tab-btn is-active" data-tab-btn="0">
        Займы
      </button>
      <button class="mobile-menu__tab-btn" data-tab-btn="1">
        Финансовые услуги
      </button>
      <button class="mobile-menu__tab-btn" data-tab-btn="2">
        Обслуживание с выездом
      </button>
      <button class="mobile-menu__tab-btn" data-tab-btn="3">
        Оплата онлайн
      </button>
    </div>
    <div class="mobile-menu__panels">
      <div class="mobile-menu__panel is-active" data-tab-panel="0">
        <a href="#" class="mobile-menu__link">Микрозаймы</a>
        <a href="#" class="mobile-menu__link">Потребительские займы</a>
        <a href="#" class="mobile-menu__link">Займы под залог</a>
      </div>
      <div class="mobile-menu__panel" data-tab-panel="1">
        <a href="#" class="mobile-menu__link">Страхование</a>
        <a href="#" class="mobile-menu__link">Инвестиции</a>
      </div>
      <div class="mobile-menu__panel" data-tab-panel="2">
        <a href="#" class="mobile-menu__link">Выездной менеджер</a>
        <a href="#" class="mobile-menu__link">Доставка документов</a>
      </div>
      <div class="mobile-menu__panel" data-tab-panel="3">
        <a href="#" class="mobile-menu__link">Оплатить картой</a>
        <a href="#" class="mobile-menu__link">По реквизитам</a>
        <a href="#" class="mobile-menu__link">QR-код</a>
      </div>
    </div>
  </div>
</div>
