<div class="hero">
  <!-- Slider main container -->
  <div class="swiper swiper-hero">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="hero__body container">
          <div class="hero__text">
            <span>выезд менеджера по всей РФ </span>
            <h2>
              Деньги <br />
              под залог авто
            </h2>
            <div class="hero__text-cont">
              <p>До 5 000 000 руб</p>
              <p>Решение за 15 минут</p>
              <p>Любая кредитная история</p>
            </div>
          </div>
          <button class="hero__text-btn">Получить деньги</button>
        </div>
        <video
          class="lazy hero__video"
          data-src="./img/camry.webm"
          autoplay
          muted
          loop
          playsinline
        />
      </div>
      <div class="swiper-slide">
        <div class="hero__body container">
          <div class="hero__text">
            <span>выезд менеджера по всей РФ </span>
            <h2>
              Деньги <br />
              под залог авто
            </h2>
            <div class="hero__text-cont">
              <p>До 5 000 000 руб</p>
              <p>Решение за 15 минут</p>
              <p>Любая кредитная история</p>
            </div>
          </div>
          <button class="hero__text-btn">Получить деньги</button>
        </div>
        <video
          class="lazy hero__video"
          data-src="./img/camry.webm"
          autoplay
          muted
          loop
          playsinline
        />
      </div>
      <div class="swiper-slide">
        <div class="hero__body container">
          <div class="hero__text">
            <span>выезд менеджера по всей РФ </span>
            <h2>
              Деньги <br />
              под залог авто
            </h2>
            <div class="hero__text-cont">
              <p>До 5 000 000 руб</p>
              <p>Решение за 15 минут</p>
              <p>Любая кредитная история</p>
            </div>
          </div>
          <button class="hero__text-btn">Получить деньги</button>
        </div>
        <video
          class="lazy hero__video"
          data-src="./img/camry.webm"
          autoplay
          muted
          loop
          playsinline
        />
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
      <img loading="lazy" src="img/icons/arrowleft.svg" alt="" />
    </div>
    <div class="swiper-button-next">
      <img loading="lazy" src="img/icons/arrowright.svg" alt="" />
    </div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
