<section class="howtoget">
  <div class="howtoget__body container">
    <h2 class="howtoget__hero">Как получить деньги</h2>
    <div class="howtoget__grid">
      <article class="howtoget__item">
        <div class="howtoget__item-body">
          <div class="howtoget__item-text">
            <h3>Заполните заявку</h3>
            <p>Через форму на сайте, мессенджер или звонок</p>
          </div>
          <img
            loading="lazy"
            src="img/icons/stepone.svg"
            class="howtoget__item-icon"
            alt=""
          />
        </div>
        <img loading="lazy" src="img/how-1.webp" alt="" />
      </article>
      <article class="howtoget__item">
        <div class="howtoget__item-body">
          <div class="howtoget__item-text">
            <h3>Заполните заявку</h3>
            <p>Через форму на сайте, мессенджер или звонок</p>
          </div>
          <img
            loading="lazy"
            src="img/icons/steptwo.svg"
            class="howtoget__item-icon"
            alt=""
          />
        </div>
        <img loading="lazy" src="img/how-2.webp" alt="" />
      </article>
      <article class="howtoget__item">
        <div class="howtoget__item-body">
          <div class="howtoget__item-text">
            <h3>Заполните заявку</h3>
            <p>Через форму на сайте, мессенджер или звонок</p>
          </div>
          <img
            loading="lazy"
            src="img/icons/stepthree.svg"
            class="howtoget__item-icon"
            alt=""
          />
        </div>
        <img loading="lazy" src="img/how-3.webp" alt="" />
      </article>
    </div>
    <button>Оставить заявку</button>
  </div>
</section>
