<section class="loan">
  <div class="loan__body container">
    <h2 class="loan__title">Популярные займы</h2>
    <div class="loan__items">
      <a href="" class="loan__item">
        <span>Займ под залог авто</span>
        <img loading="lazy" src="img/loan/loan.webp" alt="" />
      </a>
      <a href="" class="loan__item">
        <span>Автоломбард</span>
        <img loading="lazy" src="img/loan/loan.webp" alt="" />
      </a>
      <a href="" class="loan__item">
        <span>Срочный выкуп авто</span>
        <img loading="lazy" src="img/loan/loan.webp" alt="" />
      </a>
      <a href="" class="loan__item">
        <span>Лизинг для физ лиц</span>
        <img loading="lazy" src="img/loan/loan.webp" alt="" />
      </a>
    </div>
  </div>
</section>
