<section class="loanreq">
  <div class="loanreq__body container">
    <div class="loanreq__hero">
      <div class="loanreq__hero-header">
        <h2>Условия получения займа</h2>
        <div class="loanreq__tabs" data-tabs>
          <button class="loanreq__tab-btn is-active" data-tab-btn="0">
            Транспорт
          </button>
          <button class="loanreq__tab-btn" data-tab-btn="1">Заемщик</button>
          <button class="loanreq__tab-btn" data-tab-btn="2">Документы</button>
        </div>
      </div>
      <div class="loanreq__panels">
        <div class="loanreq__panel is-active" data-tab-panel="0">
          <div class="loanreq__panel-item">
            <img loading="lazy" src="img/calc.webp" alt="" />
            <div class="loanreq__grid-sidebar">
              <div class="loanreq__grid-text">
                <h2>Документы для займа под залог</h2>
                <p>Автомобили / мотоциклы категории А, B, С, Д</p>
                <p>Авто в собственности</p>
                <p>C арестами и ограничениями</p>
                <p>Машина остаётся у вас</p>
              </div>
              <button>Оставить заявку</button>
            </div>
          </div>
        </div>
        <div class="loanreq__panel" data-tab-panel="1">
          <div class="loanreq__panel-item">
            <img loading="lazy" src="img/money.webp" alt="" />
            <div class="loanreq__grid-sidebar">
              <div class="loanreq__grid-text">
                <h2>Документы для займа под залог</h2>
                <p>Автомобили / мотоциклы категории А, B, С, Д</p>
                <p>Авто в собственности</p>
                <p>C арестами и ограничениями</p>
                <p>Машина остаётся у вас</p>
              </div>
              <button>Оставить заявку</button>
            </div>
          </div>
        </div>
        <div class="loanreq__panel" data-tab-panel="2">
          <div class="loanreq__panel-item">
            <img loading="lazy" src="img/calc.webp" alt="" />
            <div class="loanreq__grid-sidebar">
              <div class="loanreq__grid-text">
                <h2>Документы для займа под залог</h2>
                <p>Автомобили / мотоциклы категории А, B, С, Д</p>
                <p>Авто в собственности</p>
                <p>C арестами и ограничениями</p>
                <p>Машина остаётся у вас</p>
              </div>
              <button>Оставить заявку</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
