<section class="map">
  <div class="map__body container">
    <div class="map__head">
      <h2 class="map__title">ВФП на карте</h2>
      <div class="map__buttons">
        <button type="button" class="map__button"><span>В офисе</span></button>
        <button type="button" class="map__button">
          <span>Выезд менеджера</span>
        </button>
      </div>
    </div>
    <div class="map-box">
      <div class="map-box__info">
        <div class="map-box__top">
          <div class="map-box__item">
            <h4 class="map-box__title">Офис в Москве (ЮВАО)</h4>
            <a href="" class="map-box__address"
              >г. Москва, проспект Рязанский, дом 10, строение 18, этаж 10,
              кабинет 6</a
            >
            <div class="map-box__flex">
              <a href="tel:88003512295" class="map-box__link"
                >8 (800) 351 22 95</a
              >
              <a href="mailto:info@mail.ru" class="map-box__link"
                >info@mail.ru</a
              >
            </div>
          </div>

          <div class="map-box__item">
            <h4 class="map-box__title">Офис в Химках</h4>
            <a href="" class="map-box__address"
              >г. Химки, ул. Панфилова, д. 37, этаж 4, офис 14</a
            >
            <div class="map-box__flex">
              <a href="tel:88003512295" class="map-box__link"
                >8 (800) 351 22 95</a
              >
              <a href="mailto:info@mail.ru" class="map-box__link"
                >info@mail.ru</a
              >
            </div>
          </div>
        </div>
        <div class="map-box__buttons">
          <a href="#" class="map-box__icon-button">
            <span>MAX</span>
            <img loading="lazy" src="img/footer/max.svg" alt="" />
          </a>
          <a href="#" class="map-box__icon-button">
            <span>TG</span>
            <img loading="lazy" src="img/footer/tg.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="map-box__canvas"></div>
    </div>
  </div>
</section>
