<section class="reviews">
  <div class="reviews__body container">
    <div class="reviews__top">
      <h2 class="reviews__title">
        <img loading="lazy" src="img/reviews/yandex.svg" alt="" />
        <span>98% положительных отзывов</span>
      </h2>
      <div class="reviews__buttons">
        <button class="reviews__button reviews__button_prev">
          <img loading="lazy" src="img/icons/arrowleft.svg" alt="" />
        </button>
        <button class="reviews__button reviews__button_next">
          <img loading="lazy" src="img/icons/arrowright.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide review-item">
          <div class="review-item__rating">
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
            <img loading="lazy" src="img/footer/star.svg" alt="" />
          </div>
          <div class="review-item__text">
            <p>
              Срочно понадобились деньги — оформление прошло быстро и без лишних
              сложностей. Регистрация простая и понятная, средства выдали
              оперативно.
            </p>
            <p>
              Если возникают вопросы, можно позвонить — специалисты вежливо
              проконсультируют и помогут разобраться. Погашение займа также
              удобно и прозрачно. В целом — понятный и комфортный сервис.
            </p>
          </div>
          <div class="review-item__user">
            <img loading="lazy" src="img/reviews/avatar.webp" alt="" />
            <div class="review-item__user-info">
              <div class="review-item__user-name">Ксения Павлова</div>
              <div class="review-item__user-date">17 сентября 2025</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
