<section class="special">
  <div class="special__body container">
    <div class="special__logos-row">
      <img loading="lazy" src="img/special/tayota.webp" alt="" />
      <img loading="lazy" src="img/special/kia.webp" alt="" />
      <img loading="lazy" src="img/special/volkswagen.webp" alt="" />
      <img loading="lazy" src="img/special/audi.webp" alt="" />
      <img loading="lazy" src="img/special/bmw.webp" alt="" />
      <img loading="lazy" src="img/special/mercedes.webp" alt="" />
    </div>
    <h2 class="special__title">Специальное предложение для иномарок</h2>
    <p class="special__sub-title">
      Свяжитесь с нами и предоставим необходимую информацию
    </p>
    <a href="" class="special__button"><span>Оставить заявку</span></a>
  </div>
</section>
