@use "sass:color";
@use "sass:math";
// базовые подключения
@import "mixins";
@import "vars";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/calc";
@import "./components/advantages";
@import "./components/loanreq";
@import "./components/clientswiper";
@import "./components/howtoget";
@import "./components/reviews";
@import "./components/faq";
@import "./components/loan";
@import "./components/map";
@import "./components/articles";
@import "./components/special";
@import "./components/footer";

body {
  margin: 0;
  font-family: Google Sans;
  background: rgba(14, 18, 22, 1);
}
.main {
   overflow: hidden;
}
.gradient {
   @include small-tablet {
      display: none;
   }
  /* Ellipse 10013 */

  position: absolute;
  width: 100%;
  height: em(185);
  top: em(400);

  background: linear-gradient(
    273.47deg,
    #ce6f64 7.01%,
    #000000 41.73%,
    #264783 76.17%
  );
  filter: blur(em(100));
}
